.cardPriceContainer {
    font-family: sans-serif;
    text-align: center;
    width: 20vw;
    transition: all 0.3s ease;
}
.cardPriceContainer.specialCard {
    transform: scale(1.1); /* Make the third card slightly larger */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to the third card */
}

.titleDiv {
    font-size: 1.5em;
    margin: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.priceDiv {
    height: 120px;
    margin: 2px;
    padding-top: 30px;
    color: white;
}
.price {
    font-size: 3em;
}
.currency {
    display: flex;
    margin-left: 40px;
}
.priceLine {
    display: flex; /* Use flexbox to place price and /мес on the same line */
    align-items:end;
    margin-left: 75px;
}

.speedDiv {
    color: rgb(70, 70, 70);
    background-color: rgb(235, 235, 235);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2px;
}
.infoDiv {
    color: rgb(70, 70, 70);
    background-color: rgb(210, 209, 209);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
}
